body {
  margin: 0;
  background-color: #8b888e;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 7px black;
  margin: 0;
  padding: 20px 0;
  background-color: #2d5d83;
}

h2 {
  text-align: center;
}

.profile {
  width: 30%;
  background-color: skyblue;
  float:left;
  margin-left: 5px;
  padding: 10px;
}

.image {
  text-align: center;
}

.image img {
  width: 300px;
}
.profile h2 {
  text-align: center;
  font-size: 20px;
}
div.mythical {
  font-style: italic;
  font-size: 15px;
  color: purple;
}
